<module>
	<rawname>vmblast</rawname>
	<name>VoiceMail Blasting</name>
	<version>1.0.1</version>
	<type>setup</type>
	<category>Inbound Call Control</category>
	<description>
		Creates a group of extensions that Calls a group of voicemail boxes and allows you to leave a Msg for them all at once. 
	</description>
	<changelog>
		*1.0.l* fix: context, redisplay of groups, get proper vm contexts, beep before leaving msg
	</changelog>
	<menuitems>
		<vmblast>VoiceMail Blasting</vmblast>
	</menuitems>
	<info>http://aussievoip.com.au/wiki/freePBX-VMBlasting</info>
	<location>release/vmblast-1.0.0.tgz</location>
	<md5sum>51a8106789944be19c877441454e2507</md5sum>
</module>
